{% extends 'home/navbar.html'%}
{% load static %}

{% block loadInHead %}
  <link rel="stylesheet" href="{% static 'home/recipe.css' %}">
  <title>Kitchen</title>

  <!--path to CSS file-->
  <link rel="stylesheet" href="{% static 'home/kitchen.css' %}">

  <style>    
    body {

      background-image: url("{% static 'home/assets/s_icons_bg.jpg' %}");
    }
  </style>
{% endblock%}

{% block pages %}
  <div class="container">



    <div class="kitchen-wrapper">
      <!-- whole meal search area -->
      <div class="kitchen-search">
        <h2 class="title">
          Find your favorite recipes
        </h2>
      </div>

      <!-- meal results -->
      <div class="kitchen-result">
        <h3 class="title"> These are ready for you</h3>

        <!-- kitchen item -->
        <div id="kitchen">

          <!-- Recipe items -->
          <div class="recipe-item">
            
            <!-- search box -->
            <div class="kitchen-recipe-search-box">

              <input type="text" class="search-control" placeholder="Your saved recipes" id ="search-input">
              <!-- search -->
              <button type="sumbit" class="search-btn btn" id="search-btn">
                <i class="fas fa-search"></i>
              </button>
          </div>
          
          <!-- recipe item content -->
          <div class="recipe-lists">
            <!-- <h3>Recipe Lists</h3> -->
          
             

            <table>
              <thead>
                  <tr>
                      <th>Recipe Lists</th>
                  </tr>
              </thead>
              <tbody>
                  {% for recipe in recipe_list %}
                  <tr>
                      <td><a href="Chicken"></a>{{ recipe.name }}</td>
                  </tr>
                  {% endfor %}
              </tbody>
            </table>
            
          
          </div>
        </div>
          <!-- end of recipe item  -->
  
        </div>

        <!-- recipe content display -->
        <div class="kitchen-details-content">

          <h2 class="recipe-title">Meals name here</h2>
          <!-- <p class="recipe-category">Category Name</p> -->

          <!-- image recipe  -->
          <!-- <div class="recipe-meal-img">
            <img src="..." alt="">
          </div> -->
  
          <!--  recipe instructions -->
          <div class="recipe-instruct">
            <h3>Instructions:</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
              Maxime quam dicta sint sed culpa illum laborum commodi 
              blanditiis consectetur a alias soluta officia esse nulla, 
              error cum eos dolor. Soluta. </p>
          </div>

          <!-- recipe link -->
          <!-- <div class="recipe-link">
            <a href="#" target="_blank">Watch video</a>
          </div> -->
  
        </div> 
        <!-- end of recipe display  -->

      </div>
        
    </div>

  </div>

{% endblock %}
